
.background {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../src//assets//rumah\ sederhana.png'); /* Update the path accordingly */
    background-size: cover;
    background-position: center;
  }
  